<div class="row">
    <div class="col-md-1 col-sm-0"></div>
    <div class="col-md-10 col-sm-12 game-item">
        <div class='game-item-header'>
            <div class='game-item-title'>
                Latest Game Name
            </div>
            <div class='game-item-options'></div>
        </div>
        <div class='game-item-footer'>
            <div class='game-item-info'>
                <div class='game-item-info-header'>Stories</div>
                <div class='game-item-info-text'>11/12</div>
            </div>
            <div class='game-item-info'>
                <div class='game-item-info-header'>Assigned Points</div>
                <div class='game-item-info-text'>84</div>
            </div>
            <div class='game-item-info'>
                <div class='game-item-info-header'>Deck Type</div>
                <div class='game-item-info-text'>Fibonacci</div>
            </div>
            <div class='game-item-info'>
                <div class='game-item-info-header'>Time spent</div>
                <div class='game-item-info-text'>1h 23min</div>
            </div>
        </div>
        <div class='game-item-date'>
            22 march 2020
        </div>
    </div>
    <div class="col-md-1 col-sm-0"></div>
</div>