.nav-link.active, .nav-pills .show > .nav-link {
        border-bottom: 5px solid #007bff; 
        color: #007bff;
      }

.nav-link{
        font-family: HelveticaNeue;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color: #9c9c9c;
}