<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <ul ngbNav #nav="ngbNav">
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/games" class="tab-tabItem">Games</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/members" class="tab-tabItem">Members</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/settings" class="tab-tabItem">Settings</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/game" class="tab-tabItem">Game</a>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
      <div class="col-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend" >
            <span (click)="inputSearch.focus()" class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input
            #inputSearch
            type="text"
            name="title"
            class="form-control"
            placeholder="Search..."
          />
        </div> 
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary-orange">Start New Game</button></div>

    </div>
  </div>
</div>