<div *ngIf="project.isActive" class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="nav-menu-container">
          <div class="nav-menu-project-title">
            {{project.projectName}}
          </div>
        <ul ngbNav #nav="ngbNav">
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/games" class="tab-tabItem">Games</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/members" class="tab-tabItem">Members</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/settings" class="tab-tabItem">Settings</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink routerLink="project-planning/game" class="tab-tabItem">Game</a>
          </li>
        </ul>
      </div>
        <div [ngbNavOutlet]="nav"></div>
      </div>
      <div class="col-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend" >
            <span (click)="inputSearch.focus()" class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input
            #inputSearch
            type="text"
            name="title"
            class="form-control"
            placeholder="Search..."
          />
        </div> 
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary-orange" (click)="openModal(addNewGame)">Start New Game</button></div>
    </div>
  </div>
</div>

<ng-template #addNewGame>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Game</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form #addNewGameForm="ngForm" (ngSubmit)="onAddNewGameFormSubmit(addNewGameForm.value)">
      <div class="form-group">
        <input class="form-control" name="title" ngModel placeholder="Game name">
      </div>

      <div class="form-group">
        <textarea class="form-control" name="stories" ngModel placeholder="Seperate stories with enter"></textarea>
      </div>
      <div class="float-right">
        <button class="btn btn-primary">Cancel</button>
        <button type="submit" class="btn btn-primary-orange ml-1">Create</button>
      </div>
    </form>
  </div>
</ng-template>